.headerCard, .headerFooter{
	height: 50px !important;
}
.headerFooter{
	background-color: #FFF !important;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}

.bodyCard{
    overflow: auto !important;
}

.card{
	border: #DADFE3 solid 1px !important;
}