.estiloItemMenu{
	text-align: center !important;
	font-weight: bolder;
	color: #07B201 !important;
	background: #F7F7F7 !important;
	padding: 2px 50px !important;
	width: 80% !important;
	cursor: pointer !important;
	border-radius: 20px !important;
	margin: auto !important;
	margin-bottom: 5px !important;

}

.estiloItemMenu:hover{
	color: #F7F7F7 !important;
	background: #07B201 !important;
}