@media print{
	*{
		padding: 0; 
		margin: 0;
		background: transparent;
		color: #000;
		text-shadow: none;
		filter: none;
		-ms-filter:none;
	}

	.no-print{
		display: none;
	}

	.print{
		display: block;
	}

	button{
		display: none;
	}

}