.containerHeader{
	background-color: #36BFEA !important;
	
}
.containerHeader a{
	color: #FFF !important;
}

.containerHeader .itemMenu * {
	color: #000 !important;
}
.containerHeader .itemMenu{
	width: 100% !important;
}
.containerHeader .itemMenu a{
	width: 100% !important;
	display: block
}

.link{
	width:100% !important;
	height:100% !important;
	display: block 
}

.logo{
	font-weight: bolder !important;
}