name: React CI/CD

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - staging
      - master

jobs:
  lint:
    if: ${{ (github.ref_name != 'staging' && github.ref_name != 'master') || github.event_name == 'pull_request' }}
    uses: ./.github/workflows/lint.yml
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}
      
  test:
    if: ${{ github.event_name == 'pull_request' && (github.base_ref == 'staging' || github.base_ref == 'master') }}
    needs: [lint]
    uses: ./.github/workflows/test.yml
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}

  deploy:
    if: ${{ github.event_name == 'push' && (github.ref_name == 'staging' || github.ref_name == 'master') && !startsWith(github.ref, 'refs/pull/') }}
    needs: [lint, test]
    uses: ./.github/workflows/deploy.yml    
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}
