name: Deploy

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v2
      - run: docker build -t react-app-prod .
      - run: |
          if [ "${{ inputs.branch }}" == "master" ]; then
            echo "Deploying to PRODUCTION"
          elif [ "${{ inputs.branch }}" == "staging" ]; then
            echo "Deploying to STAGING"
          fi
